services:
  app:
    build: . #build dockerfile in cwd
    container_name: "RateLimitedSMSGateway"
    depends_on:
      kafka:
        condition: service_healthy # This is the CRITICAL line
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
#      # Database Connection
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}?reWriteBatchedInserts=true
      # CRITICAL FIX: Pass these variables to Spring Boot so it can authenticate
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - "${BASE_DIR}/build:/var/lib/build/data"
    networks:
      - RateLimitedSMSGatewayNETWORK

  zookeeper:
    image: "confluentinc/cp-zookeeper:7.5.0"
    container_name: "zookeeper"
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
    ports:
      - "2181:2181"
    volumes:
      - "${BASE_DIR}/zookeeper:/var/lib/zookeeper/data"
    networks:
      - RateLimitedSMSGatewayNETWORK

  kafka:
    image: "confluentinc/cp-kafka:7.5.0"
    container_name: "kafka"
    depends_on:
      - zookeeper #waits for zookeeper to start before starting kafka
    # Give Kafka 30 seconds to flush data to D: drive before killing it
    stop_grace_period: 30s
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      # Define two ways to connect:
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
      - "29092:29092"
    volumes:
      - "${BASE_DIR}/kafka:/var/lib/kafka/data"
    networks:
      - RateLimitedSMSGatewayNETWORK
    healthcheck:
      # This command checks if the KafkaConfig port is actually open and responding
      test: [ "CMD-SHELL", "nc -z localhost 9092 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5


  postgres:
    image: 'postgres:15-alpine'
    container_name: postgres_db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    ports:
      - '5432:5432'
    healthcheck:
      # CRITICAL FIX: Corrected syntax for healthcheck command
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - "${BASE_DIR}/postgres:/var/lib/postgres/data"
    networks:
      - RateLimitedSMSGatewayNETWORK

  redis:
    image: redis:8.0.6-alpine3.21
    container_name: redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - "${BASE_DIR}/redis:/var/lib/redis/data"
    healthcheck:
      # This command checks if the KafkaConfig port is actually open and responding
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - RateLimitedSMSGatewayNETWORK



# Create a dedicated network for DNS resolution
networks:
  RateLimitedSMSGatewayNETWORK:
    driver: bridge
